p.error_message {
    border: var(--alarm-primary) solid 2px;
    border-radius: 100px;
    padding: 2px 4px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 400px;
    border: var(--ternary) solid 2px;
    padding: 10px 100px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--secondary);
}

input, button {
    font-family: Consolas;
    font-size: 17px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

input[type="text"], input[type="password"] {
    background: none;
    font-family: Consolas;
    font-size: 16px;
    color: var(--font-primary);
    outline: none;
    border: none;
    border-bottom: var(--ternary) solid 2px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-bottom-color: var(--accent-primary);
}

button {
    font-family: Consolas;
    font-size: 17px;
    padding: 3px 0;
    background: none;
    border: var(--ternary) solid 2px;
    outline: none;
    cursor: pointer;
    color: var(--font-primary);
    transition-duration: 100ms;
    border-radius: 100px;
}

button:hover {
    border-color: var(--accent-primary);
}

button:active {
    background-color: var(--accent-primary);
}
